#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#homeImg {
  height: "100vh";
  background-image: "../assets/0001-veterinari.jpg";
  background-size: "cover";
  background-position: "center";
  background-repeat: "no-repeat";
}
