body {
  height: 100vh;
  background-image: url("https://img.pgol.it/meta/0100-veterinari.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.myContainer {
  background-color: #ffffffbe;
  border-radius: 10px;
}
.myContainer2 {
  background-color: #ffffffdd;
  border-radius: 10px;
}
