body {
  min-height: 100vh;
  background-image: url("https://img.freepik.com/free-vector/hand-drawn-paw-prints-background_23-2151123098.jpg?t=st=1743712818~exp=1743716418~hmac=c46df18a3ce224be7cd2936616ad25aa1aea868cc3d9d8d6c77a3ba43f5ea232&w=1380");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mainContainer {
  width: 85%;
  margin: auto;
}
.myContainer {
  background-color: #ffffffeb;
  border-radius: 10px;
}
.myContainer2 {
  background-color: #ffffffec;
  border-radius: 10px;
}
.logoClinica {
  width: 3rem;
  border-radius: 50%;
}
.nav-link {
  color: #fff !important;
  font-size: 1.2em !important;
}
.card:hover,
button:hover,
i:hover {
  transform: scale(1.01);
}

.nav-link:hover {
  transform: scale(1.04);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
.loginBtn:hover {
  color: #0d6efd !important;
  font-weight: bold;
}
#petsImg {
  width: 150px;
}
.myNav,
footer {
  opacity: 95%;
  background-color: #313234;
}
.navbar-toggler-icon {
  color: #fff !important;
}
.petLogo {
  width: 250px;
}
.petLogoList {
  width: 50px;
}
h1,
h2,
h2 {
  color: #27b9b6 !important;
}
#medRecord {
  width: 100px;
}
#homeImg {
  width: 60%;
  margin: 10px auto;
}
#recoveryImg {
  width: 15%;
}
.btn-outline-primary {
  border-width: 2px !important;
}
#pharmacyImg {
  width: 13%;
}
